TWITCH_CLIENT_ID=seu_client_id
TWITCH_CLIENT_SECRET=seu_client_secret
PORTA_SERVIDOR=3001
ORIGEM_FRONTEND=http://localhost:3000
CACHE_IGDB_TTL_MS=600000
CACHE_IGDB_POPSCORE_TTL_MS=3600000
CACHE_IGDB_ATIVO=true
